body, html {
    background-image: linear-gradient(to bottom right, #ff00f1, #ff0078, #ff0034);
}

#wrapper {
    display: flex;
}

aside {
    margin: 1rem;
    width: 25%;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    top: 0;
}

#comment-form {
    color: white;
}

main {
    margin: 3rem;
    width: 100%;
}

form {
    margin: 1rem;
    padding: 10px;
    border: solid black 3px;
    border-radius: 10px;
    text-align: center;
    font-family: Futura;
    background-color: #ff00f1;
}

form h2 {
    text-align: center;
}

header {
    text-align: left;
}

button {
    border-radius: 8px;
    padding: 10px;
    transition-duration: 0.4s;
    background-color: white;
}

button:hover {
    background-color: #ff4fe9;
    color: black;
}

input {
    border-radius: 8px;
    margin: 0.5rem;
}

textarea {
    margin: 0.5rem;
    border-radius: 8px;
}

div.confession-card {
    margin: 1rem;
    padding: 10px;
    border: solid black 3px;
    background-color: #ff0034;
    border-radius: 10px;
    text-align: center;
    font-family: Futura;
    cursor: pointer;
    transition: all 1s ease-in;
    position: relative;
}
.confession-card-title {
    margin-top: -1.5rem;
}

.comment-card, .no-comment {
    margin: 1rem;
    padding: 10px;
    border: solid black 3px;
    border-radius: 10px; 
    background-image: linear-gradient(to bottom right, #ff0034, #ff0078, #ff00f1);
}

.hide {
    display: none;
}

div.confession-card.active {
    background-color: #fc00ff;
    color: white;
    transform: scale(1.1);
    transition: all 0.45s ease-in;
}

.avatar {
    height: 135px;
    width: 90px;
}