body, html {
    background-color: #ff0078;
}
#wrapper {
    display: flex;
}
aside {
    margin: 1rem;
    width: 25%;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
    top: 0;
}
main {
    margin: 3rem;
    width: 100%;
}
form {
    margin: 1rem;
    padding: 10px;
    border: solid black 3px;
    border-radius: 10px;
    text-align: center;
    font-family: Futura;
    background-color: #ff00f1
}
form h2 {
    text-align: center;
}

header {
    text-align: center;
}

button {
    border-radius: 8px;
    padding: 10px;
    transition-duration: 0.4s;
    background-color: white;
}

button:hover {
    background-color: #ff4fe9   ;
    color: black;
}

input {
    border-radius: 8px;
    margin: 0.5rem;
}

textarea {
    margin: 0.5rem;
    border-radius: 8px;
}

div.confession-card {
    margin: 1rem;
    padding: 10px;
    border: solid black 3px;
    background-color: #ff0034;
    border-radius: 10px;
    text-align: center;
    font-family: Futura;
    cursor: pointer;
}

.comments-container {
    background-color: blueviolet;
    margin: 1rem;
    padding: 10px;
    border: solid black 3px;
    border-radius: 10px;
}
.hide {
    display: none;
}